In [ ]:
import yfinance as yf

df_base = yf.download('SPY').rename(columns={'Adj Close': 'close'})
df_base

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,close,Volume
Date,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,24.763731,1003200
1993-02-01,43.968750,44.250000,43.968750,44.250000,24.939869,480500
...,...,...,...,...,...,...
2024-06-06,534.979980,535.419983,532.679993,534.659973,534.659973,30808500
2024-06-07,533.659973,536.890015,532.539978,534.010010,534.010010,43195000

In [ ]:
df_base.to_parquet('../../../data/SPY.parquet')